<%= form_with model: @blog, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :Content %><br>
    <%= form.text_area :text, :class => "tinymce", :rows => 10, :cols => 120 %>
    <%= tinymce %>
    <%= form.submit %>
  </p>
<% end %>
