<%= form_with model: @blog, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :Content %><br>
    <%= form.text_area :text, :class => "tinymce", :rows => 10, :cols => 120 %>
    <%= tinymce %>
    <div class="actions">
      <p><%= form.submit "Publish", :name => "publish" %>
      <%= form.submit "Save as Draft", :name => "draft" %></p>
    </div>
  </p>
<% end %>
