<div class="col-xs-3">
  <a class="navbar-brand" href="<%=new_blog_path%>">Write new Blog</a>
  <a class="navbar-brand" href="<%=archived_blogs_blogs_path%>">Archived Blogs</a>
</div>
<div class="BootstrapPagination" style="float: right">
  <%= will_paginate @blogs, renderer: BootstrapPagination::Rails %>
</div>
<div class="container">
  <div class="col-lg-12"> 
    <div class="row">      
      <% @blogs.each do |blog| %><brk>
        <tr>
          <h2><%= blog.title.html_safe %></h2>
          <td><%= link_to 'Show', blog_path(blog) %></td>
          <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
          <td><%= link_to 'Delete', blog_path(blog),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
          <% if blog.archived? %>
            <strong style="color: red;">Blog is Archived</strong>
          <% else %>
            <td><%= link_to 'Archive', archive_blog_path(blog),
                    method: :put,
                    data: { confirm: 'Are you sure?' } %></td>
          <% end %>
          <% if blog.published?  %>
            <strong style="color: green;">Blog is Published</strong>
          <% elsif !blog.archived? %>
            <td><%= link_to 'Publish', publish_blog_path(blog),
                    method: :put,
                    data: { confirm: 'Are you sure?' } %></td>
          <% end %>          
        </tr>        
      <% end %>
    </div>
  </div>
</div>
<div class="BootstrapPagination" style="float: right">
  <%= will_paginate @blogs, renderer: BootstrapPagination::Rails %>
</div>